@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");

.title-jp {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: x-large;
}

.text-jp {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.7;
  font-size: medium;
}
